.instructions {
    font-size:80%;
    color:#963535;
}

#start-settings {
    display: inline-block;
    color:#222;
    font-size:90%;
    margin-bottom: 20px;

    padding: 0.5em;
    background-color: #eee;
}

.head {
    font-weight: bold;
    font-size: 120%;
}

.square-thing {
    width: 26px;
    height: 26px;
    display: inline-block;
    border:solid 3px #fff;
    vertical-align: middle;
}

#new-game-button {
    background: url(img/new_game.png);
}

#new-game-button {
    background: #eee, url(img/new_game.png);
}

.square-thing.color1 {
    background-color: #fdd;
}
.square-thing.color1:hover {
    background-color: #fbb;
}
.square-thing.color1.chosen,.square-thing.color1.chosen:hover {
    background-color: #f66;
}

.square-thing.color2 {
    background-color: #ddf;
}
.square-thing.color2:hover {
    background-color: #bbf;
}
.square-thing.color2.chosen,.square-thing.color2.chosen:hover {
    background-color: #66f;
}

.text-color1 {
    text-align:center;
    color: #b22;

    font-weight: bold;
}
.text-color1 div {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}
.text-color2 {
    text-align:center;
    color: #22b;

    font-weight: bold;
}
.text-color2 div {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

.poke-img {
    width: 32px;
    height: 32px;
}

.poke {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
}

.poke:hover {
    background-color: #eee;
}

.poke.color1 {
    background-color: #f66;
}
.poke.color1:hover {
    background-color: #fbb;
}

.poke.color2 {
    background-color: #66f;
}
.poke.color2:hover {
    background-color: #bbf;
}

/* Marking for local reference */
.poke.marked {
    background: repeating-linear-gradient(
        45deg,
        #222, #222 6.25%,
        #fff 6.25%, #fff 18.75%,
        #222 18.75%, #222 25%
    );
}
.poke.marked:hover {
    background: repeating-linear-gradient(
        45deg,
        #777, #777 6.25%,
        #eee 6.25%, #eee 18.75%,
        #777 18.75%, #777 25%
    );
}

.poke.marked.color1 {
    background: repeating-linear-gradient(
        45deg,
        #222, #222 6.25%,
        #f66 6.25%, #f66 18.75%,
        #222 18.75%, #222 25%
    );
}
.poke.marked.color1:hover {
    background: repeating-linear-gradient(
        45deg,
        #777, #777 6.25%,
        #fbb 6.25%, #fbb 18.75%,
        #777 18.75%, #777 25%
    );
}

.poke.marked.color2 {
    background: repeating-linear-gradient(
        45deg,
        #222, #222 6.25%,
        #66f 6.25%, #66f 18.75%,
        #222 18.75%, #222 25%
    );
}
.poke.marked.color2:hover {
    background: repeating-linear-gradient(
        45deg,
        #777, #777 6.25%,
        #bbf 6.25%, #bbf 18.75%,
        #777 18.75%, #777 25%
    );
}
/* END Marking for local reference */


#connection-status.good {
    background: url(img/ok.png);
}
#connection-status.warning {
    background: url(img/warning.png);
}
#connection-status.bad {
    background: url(img/bad.png);
}

#sync-cover {
    display:none;
    position:fixed;
    height:100vh;
    width:100vw;
    top:0;
    left:0;
    background:rgba(0, 0, 0, 0.03);
}
